<div class="contWork">
    <h1> מערכת טיפול בנוער - עבור ארגון "לב לאחים" </h1>
    <p>
        מערכת לניהול ומעקב אחר טיפולים
        <br> כולל:
        <br> אפשרות לניהול כרטסת מפורטת.
        <br> מעקב אחר התפתחות הטיפול.
        <br> ניהול עלויות.
        <br> דוחות בפורמט הדפסה.
        <br> שליחת עדכונים למייל.
        <br> הקפצת תזכורות על עיכובים ועל דחיפות גבוהה.
        <br> ניהול ריבוי מטפלים.
        <br> אפשרויות איתור וסינון מתקדמים.

        <br>
    </p>

    <app-images [images]="['TipulMain.PNG','tipulMix.PNG','tipulReport.PNG']"></app-images>
</div>