<div class="contWork">
    <h1> מערכת ניהול אירועים - עבור ארגון הידברות </h1>
    <p>
        מערכת לניהול וארגון אירועים.
        <br> כולל:
        <br> תצוגת לוח שנה לריכוז וניהול האירועים,
        <br> ניהול משתמשים והרשאות מודולריות למנהלים ומורשים ברמות שונות כולל הרשאות צפייה בלבד,
        <br> מערכת לניהול היישום,
        <br> לוח שנה עברי משולב חגים,
        <br> תמיכה בגדלי מסך שונים וסמארטפונים.
        <br> את השרת בניתי ב:
        <br> nodeJS, Express, mySql.
        <br> ואת ה-client ב-Angular8.
        <br>
    </p>
    <a href="https://hidabrut-5458.nodechef.com" class="link" target="_blank">תוכלו להתחבר כאן למערכת דמו של ניהול האירועים</a>
    <br>
    <!-- <a routerLink='/events'>וכאן לעמוד העבודה המורחב</a> -->

    <app-images [images]="['events.PNG','eventSmartPhone.PNG','eventSmartPhone2.PNG','manage.PNG']"></app-images>
</div>