<div class="contWork">
    <h1> איזור אישי ללקוחות - APT מערכות תוכנה </h1>
    <p>
        איזור אישי עבור לקוחות החברה המאפשר שירותים שונים ללקוח.
        <br> כולל:
        <br> אפשרות להורדת עדכונים לתוכנה.
        <br> אפשרות להורדה והרצה של העדכון ישירות מהתוכנה.
        <br> צפייה בכרטסת התנועות.
        <br> הורדת חשבוניות.
        <br> מעקב אחר משימות וביצועם.
        <br> צפייה ועדכון בפרטי הלקוח.
        <br>
        <br> בניתי api למערכת שמקבל עדכונים ישירות מתוכנת ה CRM.
        <br>
        <br> את השרת בניתי ב:
        <br> PHP, MySql.
        <br> ואת ה-Client ב-Html, CSS, JavaScript.
        <br> את המערכת שמעדכנת נתונים מתוכנת ה-CRM לאתר, כתבתי ב Visual basic.

        <br>
    </p>

    <app-images [images]="['aptTasks.PNG','aptInvoices.PNG','aptDownload.PNG','aptCRM.PNG']"></app-images>
</div>