<div class="cont">
    <menu>
        <br>
        <img src="assets/logoMain.jpg" alt="">
        <h2>יוסף בוסקילה</h2>
        <h3>מפתח WEB</h3>
        <h3 class="linkedButtom">מומחה בסביבות פיתוח:</h3>
        <h3 class="linkedTop">angular8, nodeJS, express, mySql, mongoDB, html, css, java script ובעוד טכנולוגיות רבות</h3>
        <br>
        <a routerLink='/home' routerLinkActive="activeLink">דף הבית</a>
        <a routerLink='/portfolio' routerLinkActive="activeLink">תיק עבודות</a>
        <a routerLink='/events' routerLinkActive="activeLink">מערכת ניהול אירועים</a>
        <a href="https://hidabrut-5458.nodechef.com" class="link" target="_blank">התחברות למערכת דמו לניהול אירועים</a>
        <a routerLink='/apt' routerLinkActive="activeLink">איזור אישי ללקוחות</a>
        <a routerLink='/home2' routerLinkActive="activeLink">מערכת טיפול בנוער</a>
        <a href="https://github.com/yosefbuskila" class="link" target="_blank">פרוייקט githab שלי</a>
        <!-- <a routerLink='/home'>קורות חיים</a> -->
        <h2>יוסף בוסקילה</h2>
        <p>טלפון: <a href="tel:050-4178690" class="link">050-4178690</a> </p>
        <p>אימייל:
            <a href="mailto:yosef3053@gmail.com" class="link" target="_blank">yosef3053@gmail.com</a>
        </p>
        <br>
        <!-- <a href="https://github.com/yosefbuskila">פרוייקט githab שלי</a> -->
    </menu>

    <router-outlet></router-outlet>
</div>