/* You can add global styles to this file, and also import other style files */

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    /* background-color: rgb(225, 232, 238); */
}

@media only screen and (min-width: 1400px) {
    body {
        width: 1400px;
        margin: 0 auto;
    }
}