/* You can add global styles to this file, and also import other style files */

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    /* background-color: rgb(225, 232, 238); */
}

div.contWork {
    display: grid;
    padding-top: 30px;
}

.contWork p {
    color: rgb(89, 89, 92);
    font-size: 20px;
}

.contWork a {
    margin-top: 15px;
    font-size: 20px;
}