.contCont {
    margin-top: 50px;
    display: grid;
}

div.cont {
    margin: 50px auto;
    width: auto;
}

.eng {
    direction: ltr;
}

h1,
h2 {
    margin: 0;
}

h3,
h4,
ul {
    color: rgb(89, 89, 92)
}

h1 {
    font-size: 2.5em;
}

h3.eng,
h4.eng {
    display: grid;
    /* width: 900px; */
    /* grid-template-rows: repeat(3, 20px); */
    grid-template-columns: repeat(3, 170px);
}

* {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Quicksand, Arial, sans-serif;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 120px);
}

ul li {
    font-size: 20px;
}