<div class="contCont">
    <div class="cont">
        <h1>היי! <br> אני יוסף בוסקילה</h1>
        <h2>מפתח WEB</h2>
        <h3>מומחה בסביבות פיתוח: </h3>
        <h3 class="eng">
            <li *ngFor="let item of list1">{{item}}</li>
        </h3>
        <hr>
        <h4 class="eng">
            <li *ngFor="let item of list2">{{item}}</li>
        </h4>
        <h3> <a routerLink='/portfolio'> כאן תוכלו לראות ולהתרשם מעבודות שביצעתי</a></h3>
        <h3>יש לי ידע בתכנות כfull stack.</h3>
        <h3> בניתי את המערכות הללו מקצה לקצה כולל:</h3>
        <ul class="eng">
            <li>Server</li>
            <li>DB</li>
            <li>Client</li>
            <li>אפיון</li>
        </ul>
    </div>

</div>